.bk-img {
  /* background-image: url(../static/gp_2.svg); */

  /* width: 100%;
  min-height: 89vh;
  position: absolute;
  background-repeat: repeat;
  background-attachment: fixed; */
  /* overflow: hidden; */
}
.flexing {
  display: flex;  
  justify-content: space-between;
}
.outer {
  margin-left: 18%;
  margin-right: 18%;
  width: 64%;
}
h1 {
  font-size: 40px;
}
.a-req h2 {
  font-size: 20px;
}
hr {
  background-color: #ea4848;
  height: 2px;
}
.mar {
  margin-top: 2%;
  
  
}
.a-req {
  border: 1px solid gray;
  width: 100%;
  border-radius: 40px;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 1%;
  box-shadow: 5px 5px rgb(151, 151, 151);
  
  /* padding-left: 5%; */
}
.a-button button {
  background-color: #ea4848;
  color: white;
  border-radius: 40px;
  padding: 1vh 6.5vh;
  margin-top: 9px;
  font-size: 23px;
  outline: none;
}
.a-button {
  border: 1px solid gray;
  width: 26vh;
  border-radius: 40px;
  background-color: #ffffff;
  text-align: center;
  margin-top: 1%;
  box-shadow: 5px 5px rgb(151, 151, 151);
  
}
.hcolor{
  font-size: 22px;
  width: 20%;
  text-align: center;
  margin-top: 3%;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 107);
}
