.flexing{
    display: flex;
    justify-content: space-between;
}
.image{
    padding-left: 2%;
}
img{
    width: 100%;
    margin-top: 2%;
}
.drive-head{
    padding-right: 2%;
    
    margin-top: 11%;
    color: #F92828;
    text-align: center;
}
.drive-head h1{
    font-size: 70px;
}
.quote{
    margin-top: 1%;
    color: #F92828;
    font-size: 300%;
    text-align: center;
    font-family: 'Tillana', cursive;
}