.flexing{
    display: flex;
    justify-content: space-between;
}
.image{
    padding-left: 2%;
}
img{
    width: 100%;
    margin-top: 2%;
}
.drive-head{
    padding-right: 2%;
    margin-top: 11%;
    color: #000000;
    text-align: center;
}
.drive-head h1{
    font-size: 70px;
}
h1{
    
    margin: 0;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    text-transform: uppercase;
    animation: glow 1s ease-in-out infinite alternate;
    text-align: center;
}
.quote{
    margin-top: 1%;
    color: #F92828;
    font-size: 300%;
    text-align: center;
    font-family: 'Tillana', cursive;
}
.ml9 {
    position: relative;
    font-weight: 200;
    font-size: 4em;
  }
  
  .ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }
  
