
a{
  outline: none;
}
.main-head{
    background-color: #214b6b;
    
   
}
.flexing{
    display: flex;
    justify-content: space-between;
}
.hamwrap{
    width: 70%;
}
.hamburger{
    padding-left: 2%;
    padding-top: 0.1%;
    visibility: hidden;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: relative;
    width: 36px;
    height: 20px;
    left: 36px;
    top: -25px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: white;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #e20202;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
    /* visibility: hidden; */
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #364652;
    padding: 2.5em 1.5em 0;
    font-size: 1.4em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #364652;
    /* visibility: hidden; */
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  /* Individual item */
.bm-item {
    display: inline-block;
  
    color: #e6e6e6;
    margin-bottom: 15px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: #ff0000;
  }

  .hoab{
      color: white;
      width: 15%;
      padding-right: 2%;
      padding-top: 0.2%;
  }
  .hoab a{
      padding: 8%;
      /* border: 1px solid white;
      border-radius: 30px; */
  }
  a div{
      color: white;
   
      text-decoration: none;
  }
  #b-home:hover{
    color: red;
  }
  #b-us:hover{
    color: red;
  }

