.bg-img {
  background-image: url(../static/bg_heading.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 87vh;
}
.req {
  text-align: center;
}
.req h1 {
  font-size: 50px;
}
.m-input {
  text-align: center;
}
.m-input input {
  padding: 20px 50px;
  margin-top: 3%;
  font-size: 20px;
  /* background-size: ; */
}
.req-button {
  border: 1px solid gray;
  margin-left: 42%;
  margin-right: 42%;
  width: 16%;
  border-radius: 40px;
  background-color: #ffffff;
  text-align: center;
  margin-top: 3%;
  box-shadow: 5px 5px rgb(151, 151, 151);
}
.req-button button {
  background-color: #EA4848;
  color: white;
  border-radius: 40px;
  padding: 7px 81px;
  margin: 4%;
  font-size: 23px;
  outline: none;
}
