 .bg-img {
  background-image: url(../static/bg_heading.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 89.5vh;
  overflow: hidden;
}
.req {
  text-align: center;
  margin-top: 5%;
}
.req h1 {
  font-size: 50px;
}
.reqes-input {
  text-align: center;
}
/* .reqes-input input {
  padding: 1%;
  margin-top: 3%;
  font-size: 20px;
  width: 27%;
  /* background-size: ; */

.req-button {
  border: 1px solid gray;
  margin-left: 42%;
  margin-right: 42%;
  width: 16%;
  border-radius: 40px;
  background-color: #ffffff;
  text-align: center;
  margin-top: 3%;
  box-shadow: 5px 5px rgb(151, 151, 151);
}
.req-button button {
  background-color: #EA4848;
  color: white;
  border-radius: 40px;
  padding: 3% 32%;
  margin: 4%;
  font-size: 23px;
  outline: none;
}
.datepick{
  text-align: center;
  margin-top: 2%;
}
.date1{
  padding: 5%;
  margin-top: 3%;
  font-size: 17px;
  width: 90%;
  
}