.dash-bg-img {
  background-image: url(../static/Group30.svg);
  background-size: cover;
  width: 100%;
  height: 88vh;
  position: absolute;
}
.buttons {
  text-align: center;
}
.dash-button1 {
  margin-top: 13%;
}
.dash-button2 {
  margin-top: 4%;
  margin-bottom: 12%;
}
.dash-button1,
.dash-button2 {
  text-align: center;
  border: 1px solid gray;
  margin-left: 34%;
  margin-right: 34%;
  width: 32%;
  border-radius: 40px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 5px 5px rgb(151, 151, 151);
  
}
.dash-button1 button {
  background-color: #ea4848;
  color: white;
  border-radius: 40px;
  padding: 3% 34%;
  margin: 3%;
  font-size: 35px;
  outline: none;
}
.dash-button2 button {
  background-color: #ea4848;
  color: white;
  border-radius: 40px;
  padding: 3% 32%;
  margin: 3%;
  font-size: 35px;
  outline: none;
  
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #ffffff;
  }
  to {
    text-shadow: 0 0 30px #ff0000, 0 0 10px #ff3300;
  }
}
